{
  "presets": ["babel-preset-expo"],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  },
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "components": "./src/components",
        "constants": "./src/constants",
        "hoc": "./src/hoc",
        "reducers": "./src/reducers",
        "screens": "./src/screens",
        "store": "./src/store",
        "utils": "./src/utils"
      }
    }]
  ]
}
