{
  "extends": "airbnb",
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/jsx-one-expression-per-line": "off"
  }
}